a {
	text-decoration: none;
}
body, html {
	min-height: 100%;
	height: 100%;
}

body {
	background: #F8F7FA;
	display: flex;
	flex-direction: column;
}
.header {
	padding: 24px;
	background: #fff;
	border-bottom: 1px solid rgba(8219, 218, 227, .4);
	display: flex;
	align-items: center;
}
	.header-logo {
		margin-right: 24px;
	}

.breadcumb-list {
	display: flex;
}
.breadcumb-item {
	margin-right: 8px;
	font: 14px/20px "Neue Plak Text";
	display: flex;
	pointer-events: none;
}
	.breadcumb-item.done {
		pointer-events: all;
	}

	.breadcumb-item:after {
		content: '›';
		margin-left: 8px;
	}
	.breadcumb-item:last-child:after {
		display: none;
	}

.breadcumb-item a {
	color: #6F7287;
	display: flex;
	transition: all .3s cubic-bezier(.4,.01,.165,.99);
	pointer-events: none;
}
.breadcumb-item.active a{
	color: #3659E3;
	font-weight: 600;
}
.breadcumb-item.done a{
	color: #1E0A3C;
	font-weight: 600;
	pointer-events: all;
}

.content {
	flex: 1;
	display: flex;
}
.main {
	flex: 1;
	display: flex;
	justify-content: center;
	padding: 0 86px;
}
	.inner {
		padding: 48px 0;
		width: 100%;
		max-width: 1024px;
	}


.summary {
	flex: 0 0 432px;
	padding: 48px; 
	background: #fff;
}

.date {
	font: 14px/20px NeuePlakText-Regular;
	color: #4B4D63;
	margin-bottom: 8px;
}
.title {
	font: 30px/40px NeuePlak-Bold;
	color: #1E0A3C;
	margin-bottom: 32px;
}

.tabs {
	border-bottom: 1px solid #DBDAE3;
	margin-bottom: 24px;
	display: flex;
}
.tabs-item {
	margin-right: 24px;
}
.tabs-link {
	padding: 8px 24px 8px 0;
	font: 14px/20px NeuePlakText-SemiBold;
	color: #6F7287;
	line-height: 20px;
	display: block;
	color: #3659E3;
	position: relative;
}
.tabs-link:after {
	content: '';
	height: 2px;
	background: #3659E3;
	position: absolute;
	left: 0;
	bottom: -1px;
	right: 0;
}

.tabs-link.is-inactive {
	color: #6F7287;
}
	.tabs-link.is-inactive:after {
		display: none;
	}

.info {
	padding: 48px;
	background: #fff;
}

	
.ticket-info {
	flex: 1;
	padding-right: 48px;
}

.ticket {
	display: flex;
	border-bottom: 1px solid #EFF2F5;
	padding-bottom: 24px;
	margin-bottom: 24px;
}
	.ticket:last-child {
		padding: 0;
		margin: 0;
		border: 0;
	}
.ticket-title {
	font: 18px/24px NeuePlakText-SemiBold;
	color: #39364F;
	margin-bottom: 8px; 
}
.ticket-price {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}
.ticket-amount {
	font: 14px/20px NeuePlakText-SemiBold;
	color: #39364F;
}
.ticket-date {
	font: 12px/16px NeuePlakText-Regular;
	color: #39364F;
	margin-bottom: 8px;
}
.ticket-fees {
	display: flex;
	margin-left: 4px;
}
.ticket-feesItem {
	margin-left: 4px;
	font: 12px/16px NeuePlakText-Regular;
	color: #39364F;
}

.quantity-select {
	-webkit-appearance: none;
	appearance: none;
	width: 86px;
	padding: 14px 56px 14px 14px;
	border: 1px solid #DBDAE3;
	border-radius: 2px;
	background: none;
	font: 14px/20px NeuePlakText-Regular;
	color: #4B4D63;
	background: url(../img/chevron.svg) no-repeat 58px center;

}

.summary-title {
	font: 20px/32px NeuePlakText-SemiBold;
	color: #39364F;
	margin-bottom: 48px;
}

.summary-button {
	font: 14px/20px NeuePlakText-SemiBold;
	color: #FFFFFF;
	text-align: center;
	border-radius: 4px;
	padding: 12px;
	cursor: default;
	background: #F8F7FA;
	color: #A9A8B3;
	border: 0;
	box-shadow: none;
	width: 100%;
	pointer-events: none;
}
	.summary-button.is-active {
		cursor: pointer;
		background: #D1410C;
		color: #fff;
		pointer-events: all;
	}

.summary-empty {
	display: flex;
	align-items: center;
	padding: 80px 0;
	flex-direction: column;
}
	.summary-empty.is-disabled {
		display: none;
	}
	.summary-emptyIcon {
		margin-bottom: 8px;
	}
	.summary-emptyTitle {
		font: 14px/20px NeuePlakText-SemiBold;
		color: #6F7287;
	}
	.summary-emptyText {
		font: 14px/20px NeuePlakText-Regular;
		color: #6F7287;
	}
	.summary-resume {
		margin: 48px 0;
		display: none;
	}
	.summary-resume.is-active {
		display: block;
	}
	.summary-resumeTitle {
		flex: 0 0 50%;
		margin-bottom: 8px;
	}
	.summary-resumeValue {
		flex: 0 0 50%;
		text-align: right;
		margin-bottom: 8px;
	}
	.summary-resumeItem {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 8px;
		margin-bottom: 16px;
		border-bottom: 1px solid #EFF2F5;
		font: 14px/20px NeuePlakText-Regular;
		color: #39364F;
	}
	.summary-resumeItem:last-child {
		margin: 0;
		padding: 0;
		border: 0;
	}
	.summary-resumeTitle.is-total {
		font-family: NeuePlakText-SemiBold;
	}
	.summary-resumeValue.is-totalValue {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.summary-resumeValue.is-totalValue strong {
		font:18px/24px NeuePlakText-Bold;
		color: #39364F;
		margin-left: 8px;
	}

.step-tab-panel {
	pointer-events: none;
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity .3s cubic-bezier(.4,.01,.165,.99);
}
.step-tab-panel.active {
	pointer-events: all;
	opacity: 1;
	height: auto;
	overflow: hidden;
}

/* rest steps */
.title-section {
	font: 24px/32px NeuePlak-Bold;
	color: #1E0A3C;
	margin-bottom: 24px;
}
.container {
	border-radius: 2px;
	background: #fff;
	padding: 48px;
}
.input-txt {
	font: 14px/20px NeuePlakText-Regular;
	color: #39364F;
	letter-spacing: 0;
	border: 1px solid #DBDAE3;
	width: 100%;
	padding: 14px;
	border-radius: 2px;
	transition: all .3s cubic-bezier(.4,.01,.165,.99)
}
	.input-txt:focus {
		border: 1px solid #3D64FF;
		box-shadow: inset 1px 0 0 #3D64FF, 1px 0 0 #3D64FF, 0 1px 0 #3D64FF, 0 -1px 0 #3D64FF;
	}


.input-txt::-webkit-input-placeholder { /* Edge */
  color: #A9A8B3;
}

.input-txt:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A9A8B3;
}

.input-txt::placeholder {
  color: #A9A8B3;
}

.payment-methodItem {
	border-bottom: 1px solid #EFF2F5;
	padding-bottom: 24px;
	margin-bottom: 24px;
}
.payment-methodItem:last-child {
	border: 0;
	margin: 0;
	padding: 0;
}
.payment-title {
	font: 14px/20px NeuePlakText-Regular;
	color: #39364F;
	margin-left: 8px;
}
.payment-logo {
	display: flex;
	align-items: center;
}
.payment-methodHeader {
	display: flex;
	align-items: center;
}
.payment-methodRadioContent {
	margin-right: 8px;
	position: relative;
	display: flex;
}
.payment-methodRadio {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid #D8D8D8;
	border-radius: 50%;
	position: relative;
}
.payment-methodRadioContent span {
    position: absolute;
    width: 8px;
    height: 8px;
    background: blue;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    opacity: 0;
}

.payment-methodRadioContent .payment-methodRadio:checked + span {
    animation-name: bounceIn;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(.4,.01,.165,.99);
    animation-fill-mode: forwards
}

.payment-methodInfo {
	display: none;
	margin-top: 14px;
	margin-left: 34px;
}
.payment-methodItem.is-active  .payment-methodInfo {
	display: block;
}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}
